{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 999,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "bracketSpacing": true
}
